@import "custom-variables";

/* Custom Dropdown */
.select {
  // float: left;
  position: relative;
  display: flex;
  width: 12em;
  height: 3em;
  line-height: 3;
  background: #000;
  overflow: hidden;
  border-radius: .25em;
  margin-bottom: 10px;
  &::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #FFD6F2; // pinkD
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  &:hover::after {
    color: #FF74BE; // use pinkB
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    font-size: 20px;
    flex: 1;
    padding: 0 0.5em;
    color: #000;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }
}

/* Custom radio */
.custom-radio {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; 
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  label {
    font-size: 20px;
  }
}


/* Custom text area */
.custom-textarea {
  border: none;
  background: rgba(#fff, 0.35);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: 100%;
  height: 200px;
  color: #fff;
  line-height: 1.5;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  transition: all .3s ease-in-out;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
  
  &::-webkit-input-placeholder {
    color: rgba(#fff, 0.75);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.35);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.35);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  }

  &:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.35);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  }
}



/* Custom autocomplete */

.autocomplete {
  position: relative;
  display: inline-block;
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    width: 200px;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
}


/* Custom slider */
$number-of-options: 5;
.custom-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  user-select: none;
  &::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
  }
  input {
    + label::before {
      transform: translate(-50%, 45px) scale(0.9);
      transition: all 0.15s linear;
    }
    &:checked + label::before {
      transform: translate(-50%, 45px) scale(1.2);
      transition: all 0.15s linear;
    }
  }
  input, label {
    box-sizing: border-box;
    flex: 1;
    user-select: none;
    cursor: pointer;
    color: #fff;
  }
  label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    user-select: none;
    &::before {
      content: attr(data-freq);
      position: absolute;
      left: 50%;
      padding-top: 10px;
      transform: translate(-50%, 45px);
      font-size: 14px;
      letter-spacing: 0.4px;
      font-weight: 400;
      white-space: nowrap;
      opacity: 0.85;
      transition: all 0.15s ease-in-out;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      border: 2px solid #fff;
      background: myColor(pinkA);
      border-radius: 50%;
      pointer-events: none;
      user-select: none;
      z-index: 1;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
    &:hover::after {
      transform: translate(-50%, -50%) scale(1.25);
    }
  }
  input {
    display: none;
    &:checked {
      + label::before {
        font-weight: 800;
        opacity: 1;
      }
      + label::after {
        border-width: 4px;
        transform: translate(-50%, -50%) scale(0.75);
      }
      ~ .freq-pos {
        opacity: 1;
      }
      @for $i from 1 through $number-of-options {
        &:nth-child(#{$i * 2 - 1}) ~ .freq-pos {
          left: #{($i * 20%) - 10%};
        }
      }
    }
  }
  .freq-pos {
    display: block;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    opacity: 0;
    z-index: 2;
  }
}


/* color-palette */
.color-palette {
  background: #384047;
  min-height: 60px;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  ul {
    list-style: none;
    margin: 0;
    float: left;
    padding: 10px 0 20px;
    width: 100%;
    text-align: center;
    li {
      display: block;
      height: 54px;
      width: 54px;
      border-radius: 60px;
      cursor: pointer;
      border: 0;
      box-shadow: 0 3px 0 0 #222;
      display: inline-block;
      margin: 0 5px 10px;
    }
    .selected {
      border: 7px solid #fff;
      width: 40px;
      height: 40px;
    }  
  }
}

