@import "custom-variables";



#progressBar {
  $height: 20px;
  width: 90%;
  height: $height;
  position: relative;
  background: grey;
  border-radius: $height/2;
  background: none;
  border: 2px solid myColor(pinkD);
  box-shadow: 1px 1px 3px #fff;
  overflow: hidden;
  
  .fill {
    width: 0%;
    height: 100%;
    position: absolute;
    /*background: linear-gradient(to left, rgba(100,235,100,1), rgba(180,255,180,1));*/
    background: #fff;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
}

#profileSetupForm {
  background-color: lightblue;
  margin: 30px auto;
  padding: 40px;
  min-width: 300px;
  max-width: 600px;
  height: 600px;
  position: relative;

  h4, h5, h6 {
    color: #fff;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 40px;
  }

  h5 {
    font-size: 25px;
  }

  h6 {
    font-size: 18px;
  }

  .buttons {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }

  button {
    background: #fff;
    border: 0px solid #fff;
    box-shadow: 2px 2px 10px #000d;
    border-radius: 20px;
    color: myColor(pinkA);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 1em 1.5em;
    margin-right: 15px;
    

    transition: 0.5s;
    
    &:hover {
      cursor: pointer;
      color: #000;
    }
  }

  input {
    background: #fff5;
    width: 80%;
    font-size: 20px;
    padding: 1em;
    margin: 10px;
    border: 1px white solid;
    color: white;
    transition: all 0.3s;
    
    &::placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      background: #fff;
      color: #000;
      border-width: 3px;
    }

    &.invalid {
      background-color: #ffdddd;
    }
  }

  .custom-radio {
    margin-bottom: 20px;
  }

  .tab {
    display: none;
  }

  .labels-on-left {
    label {
      display: inline-block;
      width: 50%;
      text-align: right;
    }
    input {
      width: 20%;
    }
  }
}