@import "custom-variables";

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: myColor(pinkA);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  box-shadow: 0 40px 80px 0 rgba(0,0,0,0.9);
  width: 80%;
  min-width: 350px;
  max-width: 500px;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#regForm {
  margin: 30px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;

  h4 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
  }

  button {
    background: #000;
    color: #fff;
    border: 0px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 1.5em;
    position: relative;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    
    &:hover {
      cursor: pointer;
      background: #fff;
      color: #000;
    }
  }

  input {
    background: #fff5;
    width: 80%;
    font-size: 20px;
    padding: 1em;
    margin: 10px;
    border: 1px white solid;
    color: white;
    transition: all 0.3s;
    
    &::placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      background: #fff;
      color: #000;
      border-width: 3px;
    }

    &.invalid {
      background-color: #ffdddd;
    }
  }

  .custom-radio {
    margin-bottom: 20px;
  }

  .tab {
    display: none;
  }

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    &.finish {
      background-color: #4CAF50;
    }
  }
}