@import "custom-variables";

* {
  font-family: arial, sans-serif;
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}

body {
  /*background: lightblue;*/
  background: linear-gradient(to bottom, lightblue, #ccf);
}

button {
  &:hover, &:focus {
    outline: none;
  }
}

#mainSection {
  min-height: 85vh; // occupies percentage of screen height
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  #divA {
    width: 600px;
    flex-grow: 1;
    padding: 40px;
    h1 {
      font-size: 60px;

      span {
        font-size: 30px;
        font-family: times;
      }
    }
    h1, h2 {
      color: #333;
    }
  }
  #divB {
    width: 400px;
    flex-grow: 1;
    text-align: center;
    
  }
}

#loginForm {
  margin-top: 150px;
  margin-bottom: 100px;
  display: inline-block;
  // border: 5px solid #f00;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 4px #888;
  text-align: center;
  
  width: 400px;
  
  transition: 0.5s;
  &:hover {
    // border: 5px solid #777;
    box-shadow: -2px 5px 4px #AAA;
  }
  
  .container {
    padding: 16px;
  }
  
  input, button {
    box-sizing: border-box; // not sure about this being here....
    border: none;
    border-radius: 15px;
  }

  input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 12px 0;
    display: inline-block;
    background: #f1f1f1;
    transition: 0.5s;
    &:focus {
      background-color: #ddd;
      outline: none;
    }
  }

  button {
    background-color: myColor(pinkA);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 95%;
    opacity: 0.8;
    transition: 0.5s;
    &:hover, &:focus {
      opacity: 1;
      width: 100%;
      border-radius: 0px;
    }
  }

  a {
    color: dodgerblue;
  }

  .errors {
    color: #f00;

    ul {
      list-style-type: none;
    }
  }

  .signup {
    text-align: center;
    color: myColor(textC);
  }
}

#signupBtn{
  &::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  background: none;
  border: 0px solid #fff;
  border-radius: 55px;
  color: #fff;
  font-size: 20px;
  padding: 1.5em 3em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;

  &::before,
  &::after {
    background: linear-gradient(to right, myColor(pinkB), myColor(pinkA));
    content: '';
    position: absolute;
    z-index: -1;
    height: 110%;
    left: 0%;
    top: -5%;
    transition-duration: 0.6s;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    &:after {
      width: 200%;
      border-radius: 0px;      
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-content {
    background-color: myColor(pinkA);
    margin: 100px auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    box-shadow: 0 40px 80px 0 rgba(0,0,0,0.9);
    width: 80%;
    min-width: 300px;
    max-width: 400px;

    .close {
      color: #fff;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    form {

      text-align: center;

      h4 {
        color: #fff;
        font-size: 40px;
        margin-bottom: 20px;
      }

      button {
        background: #fff;
        color: myColor(pinkA);
        border: 0px solid #fff;
        border-radius: 30px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .1em;
        padding: 1.3em 1.5em;
        position: relative;
        text-transform: uppercase;
        margin: 50px 0 100px 0px;
        transition: 0.5s;
        width: 70%;

        /*span {
          background: linear-gradient(to right, myColor(pinkA), myColor(pinkB));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }*/
        
        &:hover {
          cursor: pointer;
          color: #000;
          width: 80%;
        }
      }

      input {
        background: #fff5;
        width: 70%;
        font-size: 20px;
        padding: 1em;
        margin: 10px;
        border: 1px white solid;
        color: white;
        transition: all 0.3s;
        
        &::placeholder {
          color: #fff;
        }

        &:focus {
          outline: none;
          background: #fff;
          color: #000;
          border-width: 3px;
        }
      }
    }
  }
}